if ARCH_STM32

config MACH_STM32
	bool
	default y
	select ARM_NVIC if CPU_V7M
	help
	  Include support for the STMicro STM32F2 microcontroller

config ARCH_STM32F1
	bool "Support STM32F1 instead of STM32F2"
	default n
	depends on ARCH_STM32
	help
	  Build kernel for the STMicro STM32F1 MCU instead of STM32F2

menu "STM32 I/O interfaces"
	depends on ARCH_STM32

config STM32_USART1
	depends on ARCH_STM32 && SERIAL_STM32
	bool "Enable STM32 USART1 port"
	default n

config STM32_USART2
	depends on ARCH_STM32 && SERIAL_STM32
	bool "Enable STM32 USART2 port"
	default n

config STM32_USART3
	depends on ARCH_STM32 && SERIAL_STM32
	bool "Enable STM32 USART3 port"
	default y

config STM32_USART4
	depends on ARCH_STM32 && SERIAL_STM32
	bool "Enable STM32 USART4 port"
	default n

config STM32_USART5
	depends on ARCH_STM32 && SERIAL_STM32 && !ARCH_STM32F1
	bool "Enable STM32 USART5 port"
	default n

config STM32_USART6
	depends on ARCH_STM32 && SERIAL_STM32 && !ARCH_STM32F1
	bool "Enable STM32 USART6 port"
	default n

config STM32_MAC
	depends on ARCH_STM32 && STM32_ETHER
	bool "Enable STM32 Ethernet port"
	default y

config STM32_DMA
	depends on ARCH_STM32
	bool "Enable STM32 DMA controller for peripherals"
	default n

config STM32_SD_DMA
	depends on ARCH_STM32 && MMC_ARMMMCI && STM32_DMA && MMC_BLOCK_BOUNCE
	bool "Use DMA for the SD Card Interface"
	default y

endmenu

endif
