if ARCH_KINETIS

config MACH_KINETIS
	bool
	default y
	select ARM_NVIC if CPU_V7M
	help
	  Include support for the Freescale Kinetis MCUs

menu "Freescale Kinetis I/O interfaces"
	depends on ARCH_KINETIS

config KINETIS_UART0
	depends on ARCH_KINETIS && SERIAL_KINETIS
	bool "Enable Kinetis UART0 port"
	default n

config KINETIS_UART0_CTSRTS
	depends on KINETIS_UART0
	bool "Enable UART0 hardware flow control"
	default n

config KINETIS_UART1
	depends on ARCH_KINETIS && SERIAL_KINETIS
	bool "Enable Kinetis UART1 port"
	default n

config KINETIS_UART1_CTSRTS
	depends on KINETIS_UART1
	bool "Enable UART1 hardware flow control"
	default n

config KINETIS_UART2
	depends on ARCH_KINETIS && SERIAL_KINETIS
	bool "Enable Kinetis UART2 port"
	default y

config KINETIS_UART2_CTSRTS
	depends on KINETIS_UART2
	bool "Enable UART2 hardware flow control"
	default n

config KINETIS_UART3
	depends on ARCH_KINETIS && SERIAL_KINETIS
	bool "Enable Kinetis UART3 port"
	default n

config KINETIS_UART3_CTSRTS
	depends on KINETIS_UART3
	bool "Enable UART3 hardware flow control"
	default n

config KINETIS_UART4
	depends on ARCH_KINETIS && SERIAL_KINETIS
	bool "Enable Kinetis UART4 port"
	default n

config KINETIS_UART4_CTSRTS
	depends on KINETIS_UART4
	bool "Enable UART4 hardware flow control"
	default n

config KINETIS_UART5
	depends on ARCH_KINETIS && SERIAL_KINETIS
	bool "Enable Kinetis UART5 port"
	default n

config KINETIS_UART5_CTSRTS
	depends on KINETIS_UART5
	bool "Enable UART5 hardware flow control"
	default n

config KINETIS_MAC
	depends on ARCH_KINETIS && FEC
	bool "Enable Freescale Kinetis Ethernet port"
	default y

config KINETIS_FB
	depends on ARCH_KINETIS && FB_IMX
	bool "Enable Freescale Kinetis framebuffer"
	default n

config KINETIS_SPI_GPIO
	depends on ARCH_KINETIS && SPI_GPIO
	bool "Enable SPI buses emulated using GPIO"
	default n

config KINETIS_SPI2_GPIO
	depends on KINETIS_SPI_GPIO
	bool "Enable the Kinetis SPI2 bus emulated using GPIO"
	default n

config KINETIS_EDMA
	depends on ARCH_KINETIS
	bool "Enable Kinetis eDMA controller for peripherals"
	default y

endmenu

endif
