if ARCH_LPC18XX

config MACH_LPC18XX
	bool
	default y
	select ARM_NVIC if CPU_V7M
	help
	  Include support for the NXP LPC18xx MCUs and successors

menu "LPC18xx I/O interfaces"
	depends on ARCH_LPC18XX

config LPC18XX_UART0
	depends on ARCH_LPC18XX && SERIAL_8250
	bool "Enable LPC18xx USART0 port"
	default y

config LPC18XX_UART1
	depends on ARCH_LPC18XX && SERIAL_8250
	bool "Enable LPC18xx UART1 port"
	default n

config LPC18XX_UART2
	depends on ARCH_LPC18XX && SERIAL_8250
	bool "Enable LPC18xx USART2 port"
	default n

config LPC18XX_UART3
	depends on ARCH_LPC18XX && SERIAL_8250
	bool "Enable LPC18xx USART3 port"
	default n

config LPC18XX_MAC
	depends on ARCH_LPC18XX && STM32_ETHER
	bool "Enable LPC18xx Ethernet port"
	default y

config LPC18XX_SPI0
	depends on ARCH_LPC18XX && SPI_PL022
	bool "Enable LPC18xx SSP/SPI0 port"
	default n

config LPC18XX_SPI1
	depends on ARCH_LPC18XX && SPI_PL022
	bool "Enable LPC18xx SSP/SPI1 port"
	default n

config LPC18XX_I2C0
	depends on ARCH_LPC18XX && I2C_LPC2K
	bool "Enable LPC18XX I2C0 port"
	default n

config LPC18XX_I2C1
	depends on ARCH_LPC18XX && I2C_LPC2K
	bool "Enable LPC18XX I2C1 port"
	default n

endmenu

endif
